@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.withBg {
  background-image: linear-gradient(
      to bottom,
      rgba(36, 36, 36, 0.6),
      rgba(32, 32, 32, 0.9)
    ),
    url(https://i.pinimg.com/736x/a5/a8/80/a5a88073093f9c38b3b5fa22f6323e47.jpg);
  background-size: cover;
}
.headerBg {
  background-image: linear-gradient(
      to bottom,
      rgba(15, 15, 15, 0.9),
      rgba(0, 0, 0, 0.8)
    ),
    url(https://i.pinimg.com/564x/af/36/63/af3663d4562eb086629f84c0dcfa297e.jpg);
  background-size: cover;
}

.activity::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.activity::-webkit-scrollbar-thumb {
  background-color: rgba(196, 193, 193, 0.8);
}

.activity::-webkit-scrollbar-track {
  background-color: rgba(146, 146, 146, 0.1); /* Scrollbar track color */
}




