@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html,
body {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Mona-Sans";
  src: url("./fonts/Mona-Sans.ttf") format("truetype");
}
